<p id="notice"><%= notice %></p>

<%= form_with url: "/locations", method: :post, remote: true do |form| %>
  <%= form.label :city, "DA CITY:" %>
  <%= form.text_field :city %>
  <%= form.label :city, "DA STATE:" %>
  <%= form.text_field :state %>
  <%= form.submit "Search" %>
<% end %>



<div>
  <%= react_component 'Wrapper', artists: @artists, location: @location, new_location: @new_location %>
</div>
